@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

.bg-black {
	background: #0c0e0e !important;
}
.bg-black-light {
	background: #0e1316;
}

body {
	font-family: 'Plus Jakarta Sans', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	line-height: normal;
	background: #fafafa;
	color: #242424;
}
